<ion-view class="account-view auth-view">
   <ion-nav-bar>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-nav-title>
    Account profile
  </ion-nav-title>


    <ion-content class="no-padding">
   
   <div class="row profile-header">
    <div class="col col-75">Account Details</div>
    <div class="col text-right"><a ng-click="edit.editForm = true">Edit</a></div>
   </div>
   
    <div class="row no-padding profile-form">
      <div class="col no-padding">
        <form name="updateProfileForm" novalidate ng-submit="updateProfile(updateProfileForm)">
        <!-- <fieldset ng-disabled="!edit.editForm"> -->
          <div class="form-fields-outer list list-inset">
                <label class="item item-input lbl-first">
                  <i class="icon"><img src="img/fname.png"/></i>
              	<span class="pic" ng-class="{ 'has-errors' : updateProfileForm.firstname.$invalid && updateProfileForm.$submitted}">
                  <input class="multi-input" type="text" placeholder="First Name" name="firstname" ng-model="user.firstName" ng-disabled="!edit.editForm" required>
                </span>
                </label>
                <label class="item item-input lbl">
                  <i>&nbsp;</i>
              	<span class="pic">
                  <input class="multi-input" type="text" placeholder="Last Name" name="lastname"
                         ng-model="user.lastName" ng-disabled="!edit.editForm">
                </span>
                </label>
            <div class="error-container" ng-show="updateProfileForm.firstname.$error && updateProfileForm.$submitted"
                 ng-messages="updateProfileForm.firstname.$error">
              <div ng-messages-include="error-list.html"></div>
            </div>
            <label class="item item-input lbl">
                  <i class="icon"><img src="img/email.png"/></i>
              	<span class="pic"  ng-class="{ 'has-errors' : updateProfileForm.email.$invalid && updateProfileForm.$submitted}">
              <input class="multi-input" type="email" placeholder="Email" name="email" ng-model="user.email" ng-disabled="!edit.editForm" required>
              </span>
            </label>
            <div class="error-container" ng-show="updateProfileForm.email.$error && updateProfileForm.$submitted"
                 ng-messages="updateProfileForm.email.$error">
              <div ng-messages-include="error-list.html"></div>
            </div>
            <label class="item item-input lbl-last" ng-class="{ 'has-errors' : updateProfileForm.phone.$invalid && updateProfileForm.$submitted}">
                  <i class="icon"><img src="img/phone.png"/></i>
              	<span class="pic-last" >
              <input class="multi-input" type="number" placeholder="Phone Number" name="phone" ng-model="user.mobile" ng-disabled="!edit.editForm" required ng-maxlength=10 >
                </span>
            </label>
            <p>&nbsp;</p>
            <div class="error-container" ng-show="updateProfileForm.phone.$error && updateProfileForm.$submitted"
                 ng-messages="updateProfileForm.phone.$error">
              <div ng-messages-include="error-list.html"></div>
            </div>
            <button type="submit" ng-show="edit.editForm" class="button button-block"
                    style="background-color: #3390d3;color: white; margin: 10px auto; width : 95%">
              <i class="ion-person-add"></i>
              &nbsp;Update
            </button>
            <!-- <p ng-show="error" class="message error">{{error}}</p> -->
          </div>
          <!-- </fieldset> -->
        </form>
      </div>
    </div>
   
    <div class="row">
      <div class="col button button-block button-stable" ng-click="showAddressBook()">Address Book</div>
    </div>
   
    <div class="row">
      <div class="col button button-block button-stable" ui-sref="app.changePassword">Change Password</div>
    </div>

    </ion-content>
