<ion-view class="account-view">
  <ion-nav-title>
    <span>Reward Points</span>
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="home-nav" style="border: none; background-color: transparent;font-size: 18px"
            native-ui-sref="app.account" native-ui-sref-opts="" native-options="{type: 'slide', direction:'right'}">
      <span class="ion-ios-arrow-back">&nbsp;Back</span>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="row">
      <div class="col col-center text-center">
        <h2>Reward Points</h2>
      </div>
    </div>
    <div class="row">
      <div class="col col-center text-center">
        <h1 style="color: #3390d3">{{rewardsPoints}}</h1>
      </div>
    </div>
  </ion-content>
</ion-view>
