<ion-modal-view class="modal-view">
  <ion-header-bar>
    <h1 class="title modal-title">Invite and Earn</h1>
    <a class="button button-clear" ng-click="inviteAndEarnModal.hide()"><span class="icon ion-close"></span></a>
  </ion-header-bar>
  <ion-content>
    <!-- <div class="list card"> -->


    <div class="item-image invite-image">
      <img src="img/christmas-present.png">
    </div>

    <div class="padding">
         <h4 class="title text-center">Good food is meant to be shared</h4>
         <p class="text-center offer-message">Refer a friend and get Rs.100 off on the next order above Rs.300</p>
         <p class="offer-validity text-center">Offer valid upto May 31, 2016. T&C apply.</p>
    </div>
   
   <button class="button button-block button-positive"> Invite </button>

  <!-- </div> -->
  </ion-content>
</ion-modal-view>
