<ion-modal-view class="modal-view">
    <ion-header-bar>
        <h1 class="title modal-title">Privacy Policy</h1>
        <a class="button button-clear" ng-click="privacy_policy_modal.hide()" style="color:#fff;"><i class="icon ion-ios-close-empty"></i></a>
    </ion-header-bar>
    <ion-content class="padding">
    <div class="row">
      <div class="col">
        <div class="privacy-policy">
                <p>CITY BUSINESS SERVICES PVT LTD (“CBS”) is the owner of the Brand “Laundry Waves” and the website laundrywaves.com (“The Site”). CBS respects your privacy. This Privacy Policy provides succinctly the manner your data is collected and used by CBS on the Site. As a visitor to the Site/ Customer you are advised to please read the Privacy Policy carefully. By accessing the services provided by the Site you agree to the collection and use of your data by CBS in the manner provided in this Privacy Policy.</p>
                <p>1. What information do we collect, how do we collect, how is information used? We may collect, store and use the following kinds of personal data</p>
                <p>a. Information about your computer and about your visits to and use of this website

(including pages viewed). The links you click on the site, the number of times you access the

page and any such browsing information.</p>

<p>b. Information relating to any transactions carried out between you and us on or in relation to

this website, including information relating to any purchases you make of our goods or

services.</p>

<p>c. Information that you provide to us for the purpose of registering with us (including name,

address, phone number, email address).</p>

<p>d. CBS will collect personally identifiable information about you only as part of a voluntary

registration process, on-line survey or any combination thereof. The Site may contain links to

other Web sites. CBS is not responsible for the privacy practices of such Web sites which it

does not own, manage or control. The Site and third-party vendors, including Google, use

first-party cookies (such as the Google Analytics cookie) and third-party cookies (such as the

Double Click cookie) together to inform, optimize, and serve ads based on someone&#39;s past

visits to the Site.</p>

<p>e. CBS will use your personal information to provide personalized features to you on the Site

and to provide for promotional offers to you through the Site and other channels. CBS will

also provide this information to its business associates and partners to get in touch with you

when necessary to provide the services requested by you. CBS will use this information to

preserve transaction history as governed by existing law or policy. CBS may also use contact

information internally to direct its efforts for product improvement, to contact you as a survey

respondent, to notify you if you win any contest; and to send you promotional materials from

its contest sponsors or advertisers. Information about Customers on an aggregate (exlcuding

any information that may identify you specifically) covering Customer transaction data and

Customer demographic and location data may be provided to partners of CBS for the purpose

of creating additional features on the website, creating appropriate merchandising or creating

new products and services and conducting marketing research and statistical analysis of

customer behaviour and transactions.</p>

<p>f. CBS will not use your financial information for any purpose other than to complete a

transaction with you. CBS does not rent, sell or share your personal information and will not

disclose any of your personally identifiable information to third parties. In cases where it has

your permission to provide products or services you&#39;ve requested and such information is

necessary to provide these products or services the information may be shared with CBS’s

business associates and partners. CBS may, however, share consumer information on an

aggregate with its partners or third parties where it deems necessary. In addition CBS may

use this information for promotional offers, to help investigate, prevent or take action

regarding unlawful and illegal activities, suspected fraud, potential threat to the safety or

security of any person, violations of the Site’s terms of use or to defend against legal claims;

special circumstances such as compliance with subpoenas, court orders, requests/order from

legal authorities or law enforcement agencies requiring such disclosure.</p>
                <p><strong>2. Cookies:</strong> Our site use Cookies. Most browsers allow you to refuse to accept cookies. (For

example, in Internet Explorer you can refuse all cookies by clicking &quot;Tools&quot;, &quot;Internet

Options&quot;, &quot;Privacy&quot;, and selecting &quot;Block all cookies&quot; using the sliding selector.) This will,

however, have a negative impact upon the usability of many websites, including the Laundry

Waves Web site.</p>
                <p><strong>3. Using your personal data:</strong> Personal data submitted on this website will be used for the

purposes specified in this privacy policy or in relevant parts of the website. We may use your

personal information to:</p>
<p>a. Administer the website.</p>

<p>b. Improve your browsing experience by personalizing the website.</p>

<p>c. Enable your use of the services available on the website.</p>

<p>d. Send to you goods purchased via the website, and supply to you services purchased via the

website.</p>

<p>e. Send statements and invoices to you, and collect payments from you.</p>

<p>f. Send you general (non-marketing) commercial communications.</p>

<p>g. Send you email notifications which you have specifically requested.</p>

<p>h. Send to you other marketing communications relating to our business which we think may

be of interest to you by post or, where you have specifically agreed to this, by email or

similar technology (you can inform us at any time if you no longer require marketing

communications).</p>

<p>i. Deal with enquiries and complaints made by or about you relating to the website.

We will not provide your personal information to any third parties. All our website financial

transactions are handled through our payment services provider, __________. You should

only provide your personal information to ________ after reviewing the __________ privacy

policy (available atwww.___________.com). We will share information with __________

only to the extent necessary for the purposes of processing payments you make via our

website.</p>

<p><strong>4. Disclosures:</strong> We may disclose information about you to any of our employees, officers,

agents, suppliers or subcontractors insofar as reasonably necessary for the purposes as set out

in this privacy policy. In addition, we may disclose information about you:</p>

<p>a. To the extent that we are required to do so by law.</p>

<p>b. In connection with any legal proceedings or prospective legal proceedings.</p>

<p>c. In order to establish, exercise or defend our legal rights (including providing information to

others for the purposes of fraud prevention and reducing credit risk). Except as provided in

this privacy policy, we will not provide your information to third parties.</p>

<p><strong>5. Security of your personal data:</strong> We will take reasonable technical and organizational

precautions to prevent the loss, misuse or alteration of your personal information. We will

store all the personal information you provide on our secure (password – and firewall –

protected) servers. All electronic transactions you make to or receive from us will be

encrypted using SSL technology.

Of course, data transmission over the internet is inherently insecure, and we cannot guarantee

the security of data sent over the internet. You are responsible for keeping your password and

user details confidential. We will not ask you for your password.</p>

<p><strong>6. Policy amendments:</strong> We may update this privacy policy from time-to- time by posting a

new version on our website. You should check this page occasionally to ensure you are happy

with any changes.</p>

<p><strong>7. Your rights:</strong> You may instruct us to provide you with any personal information we hold

about you. Provision of such information may be subject to the payment of a fee. You may

instruct us not to process your personal data for marketing purposes by email at any time.</p>

<p><strong>8. Updating information:</strong> Please let us know if the personal information which we hold

about you needs to be corrected or updated.</p>

<p><strong>9. Contact:</strong> If you have any questions about this privacy policy or our treatment of your

personal data, please write to us by email to support@laundrywaves.com or by post to #501,

Sai Kiran Residency, Plot 986&amp;987, Ayyappa Society, Khanamet, Madhapur-81, Hyderabad.</p>
            </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>