<ion-modal-view class="modal-view">
    <ion-header-bar>
        <h1 class="title modal-title">Terms of Service</h1>
        <a class="button button-clear" ng-click="terms_of_service_modal.hide()" style="color:#fff;"><i class="icon ion-ios-close-empty"></i></a>
    </ion-header-bar>
    <ion-content class="padding">
    <div class="row">
      <div class="col">
        <div class="terms-of-service">
                <p>CITY BUSINESS SERVICES PVT LTD (“CBS”) is the owner of the Brand “Laundry

Waves” and the website laundrywaves.com (“The Site”). These terms and conditions (&quot;User

Terms&quot;) apply to your visit to and your use of our website at www.laundrywaves.com (the

&quot;Website&quot;), the Service and the Application (as defined below), as well as to all information,

recommendations and/or services provided to you on or through the Website, the Service and

the Application.</p>

<p>PLEASE READ THESE TERMS OF SERVICE CAREFULLY. BY ACCESSING OR

USING CITY BUSINESS SERVICES PVT LTD (“CBS”) APPLICATIONS OR ANY

SERVICES PROVIDED BY US, YOU AGREE TO BE BOUND BY THESE TERMS OF

SERVICE. IF YOU DO NOT AGREE TO ALL OF THESE TERMS AND CONDITIONS,

DO NOT ACCESS OR USE CITY BUSINESS SERVICES PVT LTD (“CBS”)

APPLICATIONS OR ANY SERVICES PROVIDED BY US</p>
                
               <p><strong> 1. Changes in Terms &amp; Conditions:</strong> CBS reserves the right to make any changes to the

program (whether material or otherwise), including the ways in which points are

earned and redeemed and the eligible items, the expiry of accrued points, the limits, to

modify or cancel regulations, benefits, conditions of participation, rewards and reward

levels in whole or part at any time, even though changes may affect the value of

points or rewards already accumulated; all as may be determined by CBS in its sole

discretion. You will be bound by any such changes.</p>

<p><strong>2. Notice of Changes.</strong> Any such changes will be shown in these Terms and Conditions

on the www.laundrywaves.com web site and will be effective immediately unless

stated otherwise. A notice that a change has been made will be placed on the web site

for a reasonable period of time. Any changes to any printed version of the Terms and

Conditions will be contained in the next reprinting of that printed version. CBS will

attempt to notify active members regarding major Program changes, but will not be

liable for failure to do so, and all members will nevertheless be bound.</p>

<p><strong>3. Legal rights.</strong> Neither the Program nor any benefit offered by the Program creates,

constitutes or gives rise to any legal or contractual rights by members against CBS.</p>

<p><strong>4. Communications Not Received.</strong> CBS is not liable for loss of misdirected

correspondence, requests, or Reward Certificates that may be incomplete, illegal,

delayed, lost or stolen.</p>

<p><strong>5. Points have no value.</strong> CBS Privilege points are not redeemable for cash or any other

form of credit. Points have no fixed or ascertainable cash value. Members have no

ownership interest in accrued points and accrued points do not constitute property of

the members. Use of the word &quot;earn&quot; in marketing materials in relation to CBS points

shall mean &quot;collect&quot; and shall not infer that the points have any value until they are

presented for redemption. Points may not be purchased or sold and are not

transferable except as otherwise stated herein.</p>

<p><strong>6. No Guarantees on Merchandise &amp; Services.</strong> CBS, its parent, subsidiaries, affiliates,

franchisees, and agents make no guarantees, warranties or representations of any kind,

expressed or implied, with respect to items of merchandise, and shall not be liable for

any loss, expense (including without limitation, any legal fees), accident or

inconvenience that may arise in connection with the use of such items or as a result of

any defect or failure of such items.</p>

<p><strong>7. Purchase of packages and usage:</strong> The customer can use the card to purchase bulk

packages that can be used for the service as per terms and conditions of each package.</p>

<p><strong>8. Liability clause:</strong> Please be assured that CBS will use utmost efforts to ensure that

Ironing, Washing, Drying, Folding and Dry Cleaning services are maintained at the

highest level of quality. CBS service is provided subject to your “customer

compliance” and acceptance with the terms and conditions set forth as follows.

Garment Care / Missing or Damaged goods: CBS assumes no liability for damage due

to normal wear and tear, fading or shrinkage during washing and drying. CBS /

Laundry Waves shall not be held responsible for loss or damage to any personal or

non cleanable items left in the clothing or bags such as money, Jewelry or anything

else. CBS shall not be held responsible for any item received without appropriate

identification in case of loss/damage of item. In the unlikely event of damage or loss

CBS / Laundry Waves shall do everything possible to remedy the issue. Items which

the company considers can only be processed at the risk of customer unless customer

endorses and confirm the risk of processing and handling of the items being processed

to CBS in writing at the time of giving order. We ask that each customer notify within

12 hours of receipt of delivery of any lost or damaged garments from the particular.

Claims recorded beyond 12 hours will not be eligible for any consideration. The claim

must be accompanied by original receipt/ bill copy. Failure to do so constitutes waiver

of the claim for any loss or damages from that delivery. The liability of the company

is limited to a maximum of FIVE times the value of the service charges applied

regardless of the brand or condition.</p>

<p><strong>9. Payment clause:</strong> You hereby confirm that you understand that the use of the Services

may result in payments by you for the services you receive from CBS/Laundry Waves

and also a Third Party Provider (&quot;Charges&quot;). After you have received services

obtained through your use of the Service, CBS will facilitate payment of the

applicable Charges on behalf of the Third Party Provider; as such Third Party

Provider&#39;s limited payment collection agent, using the preferred payment method

designated in your Account, and will send you a receipt by email. Payment of the

Charges in such manner shall be considered the same as payment made directly by

you to the Third Party Provider. Charges will be inclusive of applicable taxes where

required by law. Charges paid by you are final and non-refundable, unless otherwise

determined by CBS.

All Charges are due immediately and payment will be facilitated by CBS using the

preferred payment method designated in your Account. If your primary Account

payment method is determined to be expired, invalid or otherwise not able to be

charged, you agree that CBS may, as the Third Party Provider&#39;s limited payment

collection agent, use a secondary payment method in your Account, if available.

CBS reserves the right to establish, remove and/or revise Charges for any or all

aspects of the Services at any time in CBS&#39;s sole discretion. Further, you acknowledge

and agree that Charges applicable in certain geographical areas may increase

substantially during times of high demand of the Services. CBS will use reasonable

efforts to inform you of Charges that may apply, provided that you will be responsible

for Charges incurred under your Account regardless of your awareness of such

Charges or the amounts thereof. CBS may from time to time provide certain users

with promotional offers and discounts that may result in different Charges for the

same or similar Services and you agree that such promotional offers and discounts,

unless also made available to you, shall have no bearing on your use of the Services

or the Charges applied to you. You may elect to cancel your request for Services from

a Third Party Provider at any time prior to such third Party Provider&#39;s arrival, in which

case you may be charged a cancellation fee.</p>

<p><strong>10. Cancellation policy:</strong> If you are unavailable at home during pickup, please let us

know 3 hours in advance for cancelling and rescheduling the appointment. If the

management decides the garment cannot be processed, we will cancel the order and

refund the amount to CBS wallet.</p>

<p><strong>11. Refund policy:</strong> Refunds for services/packages shall be provided after the sole

discretion of the management. The refund amount will be added to the CBS wallet.

No refunds shall be made for packages unused.</p>

<p><strong>12. Pricing &amp;Taxes:</strong> Prices are periodically reviewed from time to time. Any changes to

our pricing will be displayed on our catalogues and all bill payments are subject to

current standard rate of service tax.</p>

<p><strong>13. Service/ Application Fee:</strong> The use of the Website and Application is free of charge.

CBS reserves the right to introduce a fee for the use of the Application. If CBS

decides to introduce such a fee, CBS shall inform you accordingly and allow you to

either continue or terminate the service as per payment of the fee accordingly.</p>

<p><strong>14. Delivery:</strong> Goods will be deemed to have been delivered to the customer unless the

company has received notification from the customer during the first working day

following the delivery date. In the instance that the company tries to deliver to a

customer address, as instructed by the customer, and the customer for whatever reason

fails to allow entry to the company, the company will arrange another delivery time

with the customer subject to availability. The company will not be entitled to any

recompense the clothes which are not collected by you with 15 days of your being

informed will not be our responsibility any more cause we do attempt 3 times to make

deliveries. The company reserves the right to decline services or cancel orders in the

instance of repeated inability to gain access to the customer&#39;s collection/delivery

address</p>

<p><strong>15. Decline of Service:</strong> The Company reserves the right to decline services to the

customer in the case of actual or implied physical or verbal abuse towards the

company&#39;s employees</p>

<p><strong>16. Use of Service, Website, Applications:</strong>

a. You will only use the Service, Website, or download the Application for your

sole, personal use and will not resell it to a third party;

b. You will not authorize others to use your account;

c. You will not assign or otherwise transfer your account to any other person or

legal entity;

d. You will not use an account that is subject to any rights of a person other than

you without appropriate authorization;

e. You will not use the Service, Website, or Application for unlawful purposes,

including but not limited to sending or storing any unlawful material or for

fraudulent purposes;

f. You will not use the Service , Website, or Application to cause nuisance,

annoyance or inconvenience;

g. You will not impair the proper operation of the network;

h. You will not try to harm the Service , Website, or Application in any way

whatsoever;

i. You will not copy, or distribute the Website, Application, or other CBS

Content without written permission from CBS;

j. You will keep secure and confidential your account password or any

identification we provide you which allows access to the Service, Website,

and the Application;

k. You will provide us with whatever proof of identity we may reasonably

request;

l. You are aware that when requesting cleaning services or receiving

notifications by SMS (if available in your jurisdiction), standard messaging

charges will apply;

m. You will not use the Service, Website, or Application with an incompatible or

unauthorized device;

n. You will comply with all applicable law from your home nation, the country,

state and/or city in which you are present while using the Application,

Website, or Service.

o. CBS reserves the right to immediately terminate the Service and the use of the

Website or Application should you not comply with any of the above rules.

<p><strong>17. License Granted by User:</strong></p>

<p>a. We may, in our sole discretion, permit Users to post, upload, publish, submit

or transmit User Content on the Website or through the Service or

Application. User Content will be deemed non-confidential and non-

proprietary. Accordingly, CBS shall have the non-exclusive, royalty-free, right

to use, copy, distribute and disclose to third parties any User Content for any

purpose, in any medium and throughout the world (&quot;License Grant&quot;).</p>

<p>b. You acknowledge that CBS only acts as a passive conduit for the distribution

of the User Content and is not responsible or liable to you or to any third party

for the content or accuracy of the User Content. CBS shall not be continuously

monitoring User Content published by you or moderating between Users, nor

shall CBS be under an obligation to do so. Without limiting the foregoing, you

acknowledge and agree that any remarks, opinions, comments, suggestions

and other information expressed or included in the User Content do not

necessarily represent those of CBS.</p>

<p>c. Any use by you of the User Content is entirely at your own risk. You represent

and warrant that any User Content posted or transmitted by you is original to

you and does not copy the work of any third party or otherwise infringe any

third party intellectual property rights, rights of privacy or personality rights

and does not contain any defamatory or disparaging statements. Furthermore,

you represent and warrant that you have the capacity to grant the license as

stipulated in this paragraph.</p>

<p>d. You agree to indemnify and keep CBS, its affiliates and licensors indemnified

against all costs, expenses, damages, losses and liabilities incurred or suffered

by CBS or its affiliated companies related to any User Content posted or

transmitted by you or your other use of the Website, the Service or the

Application.</p>

<p>e. CBS reserves the right at its sole discretion to block or remove (in whole or in

part) any User Content posted or transmitted by you and which CBS believes

is not in accordance with these User Terms (including materials which

infringe or may infringe third party intellectual property rights, rights of

privacy or personality rights), or is otherwise unacceptable to CBS.</p>

<p>f. You agree to promptly notify CBS in writing of any User Content which

breaches these User Terms. You agree to provide to CBS sufficient

information to enable CBS to investigate whether such User Content breaches

these User Terms. CBS agrees to make good faith efforts to investigate such

complaint and shall take such action as CBS in its sole discretion decides.

However, CBS does not warrant or represent that it will block or remove (in

whole or in part) such user Content.</p>

<p><strong>18. Application License:</strong></p>

<p>a. Subject to your compliance with these User Terms, CBS grants you a limited

non-exclusive, non-transferable license to download and install a copy of the

Application on a single mobile device that you own or control and to run such

copy of the Application solely for your own personal use.</p>

<p>b. You shall not (i) license, sublicense, sell, resell, transfer, assign, distribute or

otherwise commercially exploit or make available to any third party the

Service or Application in any way; (ii) modify or make derivative works based

upon the Service or Application; (iii) create Internet &quot;links&quot; to the Service or

&quot;frame&quot; or &quot;mirror&quot; any Application on any other server or wireless or

Internet-based device; (iv) reverse engineer or access the Application in order

to (a) design or build a competitive product or service, (b) design or build a

product using similar ideas, features, functions or graphics of the Service or

Application, or (c) copy any ideas, features, functions or graphics of the

Service or Application, or (v) launch an automated program or script,

including, but not limited to, web spiders, web crawlers, web robots, web ants,

web indexers, bots, viruses or worms, or any program which may make

multiple server requests per second, or unduly burdens or hinders the

operation and/or performance of the Service or Application.</p>

<p>c. You shall not: (i) send spam or otherwise duplicative or unsolicited messages

in violation of applicable laws; (ii) send or store infringing, obscene,

threatening, libellous, or otherwise unlawful material, including material

harmful to children or violation of third party privacy rights; (iii) send or store

material containing software viruses, worms, Trojan horses or other harmful

computer code, files, scripts, agents or programs; (iv) interfere with or disrupt

the integrity or performance of the Website, the Application or Service or the

data contained therein; or (v) attempt to gain unauthorized access to the

Website, the Application or Service or its related systems or networks.</p>

<p>d. CBS will have the right to investigate and prosecute violations of any of the

above to the fullest extent of the law. CBS may involve and cooperate with

law enforcement authorities in prosecuting users who violate these User

Terms. You acknowledge that CBS has no obligation to monitor your access

to or use of the Website, Service, Application or Collective Content or to

review or edit any Collective Content, but has the right to do so for the

purpose of operating the Website, the Application and Service, to ensure your

compliance with these User Terms, or to comply with applicable law or the

order or requirement of a court, administrative agency or other governmental

body. CBS reserves the right, at any time and without prior notice, to remove

or disable access to any Collective Content that CBS, at its sole discretion,

considers to be in violation of these User Terms or otherwise harmful to the

Website, the Service or Application.</p>

<p><strong>19. Intellectual Property Ownership:</strong></p>

<p>a. CBS alone (and its licensors, where applicable) shall own all right, title and

interest, including all related intellectual property rights, in and to the Website,

Application and the Service and any suggestions, ideas, enhancement requests,

feedback, recommendations or other information provided by you or any other

party relating to the Website, Application or the Service.

b. These User Terms do not constitute a sale and do not convey to you any rights

of ownership in or related to the Website, the Application or the Service, or

any intellectual property rights owned by CBS. CBS’s name, logo, and the

product names associated with the Application and Service are trademarks of

CBS, its affiliated companies or third parties, and no right or license is granted

to use them.</p>

<p><strong>20. Third Party Interactions:</strong></p>

<p>a. During the use of the Website, the Application and the Service, links to

websites that are owned and controlled by third parties may be provided from

time to time in order to enter into correspondence with, purchase goods or

services from, participate in promotions of third parties. These links take you

off the Website, the Application and the Service and are beyond CBS&#39;s

control.</p>

<p>b. During use of the Website, the Application and the Service, you may enter

into correspondence with, purchase goods and/or services from, or participate

in promotions of third party service providers, advertisers or sponsors showing

their goods and/or services through a link on the Website or through the

Application or Service. These links take you off the Website, the Application

and the Service and are beyond CBS’s control. The websites you can link to

have their own separate terms and conditions as well as a privacy policy. CBS

is not responsible and cannot be held liable for the content and activities of

these websites. You therefore visit or access these websites entirely at your

own risk.</p>

<p>c. Please note that these other websites may send their own cookies to users,

collect data or solicit personal information, and you are therefore advised to

check the terms of use or privacy policies on those websites prior to using

them.</p>

<p><strong>21. Term and termination of the contract:</strong> The Contract between Rinse and you is

concluded for an indefinite period.</p>

<p>a. You are entitled to terminate the Contract at all times by permanent deletion of

the Application installed on your smart phone, thus disabling the use by you of

the Application and the Service. You can close your user account at any time

by contact CBS’s customer support at support@laundrywaves.com</p>

<p>b. CBS is entitled to terminate the Contract at all times and with immediate

effect (by disabling your use of the Application and the Service) if you: (a)

violate or breach any term of these User Terms, or (b) in the opinion of CBS

misuse the Application or the Service. In addition, CBS may terminate the

Contract if, in its sole judgment, you reside in a location that it deems unsafe

to send employees. CBS is not obliged to give notice of the termination of the

Contract in advance. After termination CBS will give notice thereof in

accordance with these User Terms.</p>

<p><strong>22. Invalidity of one or more provisions:</strong></p>

<p>a. The invalidity of any term of these User Terms shall not affect the validity of

the other provisions of these User Terms.</p>

<p>b. If and to the extent that any provision of these User Terms is invalid, or is

unacceptable in the given circumstances according to the criteria of

reasonableness and fairness, a provision shall apply between the parties

instead that is acceptable considering all the circumstances and which

corresponds with the provisions of the void part as much as possible, taking

into account the content and the purpose of these User Terms.</p>

<p><strong>23. Applicable law and Venue:</strong> The Terms and your use of the Service, including, but

not limited to, the Application will be governed by and construed in accordance with

the laws of the State of Telangana, applicable to agreements made and to be entirely

performed within the State of Telangana, without resort to its conflict of law

provisions. In the event of any matter or dispute arising out of or in connection with

these Terms, you and CBS will submit to the exclusive jurisdiction of the State of

Telangana.</p>

<p><strong>24. Miscellaneous:</strong> If any part of these Terms is determined to be invalid or

unenforceable pursuant to applicable law, including, without limitation, the warranty

disclaimers and liability limitations set forth above, then the invalid or unenforceable

provision will be deemed superseded by a valid, enforceable provision that most

closely matches the intent of the original provision and the remainder of these Terms

will continue in full effect. Only you and CBS are entitled to enforce these Terms. No

third party will be entitled to enforce any of the terms and conditions herein.</p>

<p><strong>25. Final provision:</strong> The English text of these User Terms constitutes the sole authentic

text. In the event of any discrepancy between the English text and a translation into a

foreign language, the English text shall prevail.</p>
            </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>