.addon-page .slider-slide h3 {
  color: #fff;
  margin-top: 10px;
}

.addon-page .scroll {
  height: 100%;
}

.addon-page .tabbed-slidebox .tsb-icons:after {
  display: none;
}

.addon-page ion-scroll.scroll-view.ionic-scroll {
  overflow-x: hidden;;
  overflow-y: hidden;;
}

.addon-page .tabbed-slidebox .tsb-icons .scroll a.active {
  font-size: 1.5em;
  border-bottom: none;
  color: #3390d3;
}

.addon-page .item {
  font-size: 13px;
}

.addon-page .item.active {
  background-color: white;
}

.addon-page .item-incdec {
  cursor: pointer;
  color: #8f8f8f;
  font-size: 200%;
}

.addon-page .item-image {
  margin-left: 5px;
  margin-right: 5px;;
}
